.main {
    width:100%;
    height: 100vh;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    overflow: hidden;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.button {
    color: white !important;
    background-color: transparent !important;
    border-color: black !important;
    padding: 15px 50px;
}
.content a{
    background-color: transparent !important;
    border: 1px solid black;
    padding: 15px 50px;
    text-decoration: none;
}
.content a:hover {
background-color: black !important;
border-color: white;
cursor: pointer;
}
.main .content h1 {
    font-family: "Roboto", sans-serif;
}
