.about Image{
    width:100px;
}
.img {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}