.footer {
    background: #111111;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 16px;
}
.footer a {
    text-decoration: none;
    color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer p {
  color: #fff;
  line-height: 1.4;
}
.footer a:hover {
    color: #5c9f24;
    cursor: pointer;
}
.footer ul {
  list-style: none;
  margin-left: -30px;
}
.footer .right-icon{
  color: #5c9f24;
  margin-right: 2px;
}
.copyright{
    text-align: center;
  padding-top: 30px;
} 
.footer h3 {
  font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}
.footer .social-links a{
  font-size: 20px;
  margin-right: 30px;
}

@media screen and (max-width: 576px) {
  .footer{
    padding: 0px 20px;
  }
}